﻿/*
	by Whithey
	http://www.whithey.cn
*/
/*** html elements ***/
body {
	text-align: center;
	padding: 70px 0 0;
	margin: 0;
	background: #FFF url(images/bg_body.png) repeat-x;
	line-height: 1.5em;
	color: #494949;
	font-size: 13px;
}
a {
	text-decoration: none;
	color: #007ada;
}
img {
   border:none;
   }
a:hover {
	text-decoration: underline;
}
h1,h2,h3,h4 {
	padding: 0;
	margin: 0;
	font-family: "Microsoft JhengHei","微軟正黑體","Microsoft Yahei","微软雅黑","黑体",arial,sans-serif;
}
h1 {
	font-size: 1.8em;
}
h2 {
	font-size: 1.4em;
}
ul ,li {
	padding: 0;
	margin: 0;
}
fieldset {
	border: 1px solid #D9EAF4;
}
/** gloabal style **/
ul.primary li a {
	background: #693;
	color: #FFF;
}
ul.primary li a:hover {
	background: #693;
	color: #FFF;
}
ul.primary li a.active {
	color: #1D1D1D;
}
ul.primary li a.active:hover {
	color: #1D1D1D;
}
.breadcrumb {
    font: 14px bloder;
	} 
.form-submit {
	height:35px;
	line-height:35px;
	width:148px;
	margin-right:10px;
	border:none;
	background: #1D1D1D url(images/bg_form_submit.png) repeat-x;
	color: #FFF;
	font-weight: bolder;
	font-family: "Courier New", Courier, monospace;
}
#user-login-form .form-submit {
   width:120px;
   height:30px;
   line-height:30px;
   margin-left:auto;
   margin-right:auto;
   } 
.resizable-textarea textarea {
    height:150px;
	} 
#edit-keys {
    width:80%;
	height:20px;
	line-height:25px;
	margin-bottom:10px;
	} 
.pager {
    margin-top:5px;
	line-height:2.5em;
	} 
	.pager a {
	        border:1px solid #693;
			margin: 0 5px;
			letter-spacing:-1px;
			} 
html, div, map, dt, isindex, form {
    clear:right;
	} 
/**  #top  **/
#top {
      width: 100%;
      height: 151px;
	  position:absolute;
	  overflow:hidden;
	  top:0px;
	  left:0px;
      }
     .top_left{
		width: 165px;
		height: 151px;
		background: url(images/bg_top_left.jpg) no-repeat left top;
		float:left;
	        }
     .top_right {
		width: 525px;
		height: 151px;
		background: url(images/bg_top_right.jpg) no-repeat top right;
		float: right;
	        }
/** #header  **/
#header {
	width: 900px;
	height: 90px;
	background: #FFF url(images/bg_header.jpg) no-repeat right top;
	margin:0 auto;
	position:relative;
	z-index:2;
        }
	.header_left {
		height: 90px;
		float: left;
		background: #FFF;
		padding-left: 30px;
		background: url(images/bg_header_left.jpg) no-repeat left top;
	}
		.header_left h1 a:hover {
			text-decoration: none;
		}
	.header_right {
		float: right;
		background: #FFF;
		position:relative;
		right:50px;
		top:-34px;
		padding-left:10px;
		padding-top:5px;
	}
	#search {
	position:relative;
	}
	#search .form-text {
	 height:20px;
     width:150px;
	 margin-right:90px;
	 padding:5px 5px 0px;
	 }  
	#search .form-submit {
	height: 30px;
	width: 70px;
	line-height:30px;
	margin-left:10px;
	position:absolute;
	top:0;
	right:0;
	border: none;
	background: #693 url(images/bg_form_submit.png) repeat-x;
	color: #FFF;
	font-weight: bolder;
	font-family: "Courier New", Courier, monospace;
    }
	.header_right_corner {
	    position:absolute;
		top:0;
		right:0;
		width:23px;
		height:23px;
		background: url(images/header_right_corner.jpg) no-repeat left top;
		} 
/** #main_menu **/
#main_menu {
	width: 900px;
	background: #FFF;
	margin: 0px auto;
	clear: both;
}
	#navlist {
		height: auto;
		line-height: 56px;
		height: 56px;
		padding-right: 45px;
	}
		#navlist li {
			float: right;
			height: 56px;
            text-align:center;
			line-height: 56px;
			margin: 0 -55px 0 0;
		}
			#navlist li a {
				color: #fff;
				display: block;
				width:156px;
                height:56px;
				font-weight: bolder;
				background: url(images/bg_main_menu.gif) no-repeat center center;
			}
			#navlist li a:hover {
				color: #fff;
				width:156px;
                height:56px;
				cursor:pointer ;
				font-weight: bolder;
				text-decoration: none;
				background: url(images/bg_main_menu_hover.gif) no-repeat center center;
				position:relative;
			}
			#navlist li a.active {
				color: #F60;
				display: block;
				font-weight: bolder;	
			}
			#navlist li a.active:hover {
				color: #FFF;
				text-decoration: none;
				cursor:pointer ;
			}
/*main_wrapper */
#main_wrapper {
	width: 900px;
	margin: 0px auto;
	padding-bottom:20px;
	text-align: left;
	clear: both;
	background:#fff;
}
	/** $siderbar_left **/
	#sidebar_left {
		width: 250px;
		float: left;
		background: #FFF;
		overflow: hidden;
	}
		#sidebar_left a {
			color: #666;
			text-decoration:none;
		}
		#sidebar_left a:hover {
		    border-bottom:1px solid #693;
			}
		#sidebar_left .block {			
                        margin:0;
                        padding-top:20px;
                        margin-left: 6px;
                        border-left:10px solid #030;
		}
		    #sidebar_left h2.title {
			              height:25px;
						  line-height:25px;
						  padding-left:10px;
                          background: url(images/bg_sidebar_h2.gif) no-repeat left top;
			  }
			#sidebar_left .content {
				padding: 0px;
				margin: 0px;
				margin-top:10px;
				background: #cccc99 url(images/bg_sidebar_left_ul.jpg) no-repeat right top; 
			}
				#sidebar_left .block ul li {
					padding: 0px;
					margin:0 0 0.3em 1.5em;
					border-bottom:1px dashed #030;
				}
		#sidebar_left a.active {
			color: #693;
			font-weight: bold;
		}
			#sidebar_left .block-comment a.active {
				color: #693;
				font-weight:normal;
			}
	/** #content_wrapper **/
	#content_wrapper {
		float: right;
		width: 620px;
		background: #FFF;
		overflow: hidden;
	}
		#content_top {
			margin: 0px 4px;
		}
		#main {
			margin: 0px 4px;
		}
			#main .node {
				padding: 20px 0px;
				border-bottom: 2px solid #007aDa;
				clear: both;
			}
				#node_inner_right {
	                        width:290px;
	                        height:290px;
	                        float:right;
                            text-align:center; 
                            overflow: hidden;
                            margin-bottom:10px;
	                        background:url(images/bg_node_inner_right.jpg) no-repeat left top;
	            }
			/** #comments  **/
			#comments .comment {
				margin-top: 12px;
			}
			#comments .indented {
				margin-left: 0px;
				padding-left: 25px;
			}
			.comment table {
				background: #FFF;
				width: 98%;
			}
			#comments tbody {
				border: none;
			}
				td.comment_author_name {
					width: 75px;
					padding: 10px 0px 0px 10px;
					background: url(images/bg_comment.gif) top left no-repeat #FFF;
				}
				td.comment_date {
					padding: 10px 10px 0px 0px;
					text-align: right;
					font-size: 11px;
					background: url(images/bg_comment.gif) top right no-repeat #FFF;
				}
				td.comment_author_avatar {
					width: 75px;
					background: url(images/bg_comment.gif) bottom left no-repeat #FFF;
					padding: 0px 0px 10px 10px;
				}
					td.comment_author_avatar div.picture {
						width: 48px;
						height: 48px;
					}
						td.comment_author_avatar div.picture a {
							display: block;
						}
							td.comment_author_avatar div.picture img {
								width: 46px;
								height: 46px;
								margin: 2px;
							}
				td.comment_content_detail {
					background: url(images/bg_comment.gif) bottom right no-repeat #FFF;
					padding: 0px 10px 10px 0px;
				}
			#comments div.links {
				text-align: right;
				font-size: 11px;
			}
				#comments div.links ul {
					padding: 0px;
					margin: 0px;
				}
				div.box ul.tips {
					display: none;
				}
		.content_wrapper_footer {
			width: 100%;
			height: 60px;
			background: #EEE;
			background: url(images/bg_content_wrapper_footer.jpg) repeat-x;
		}		
/** #footer **/
#footer {
	clear: both;
	width: 900px;
	margin: 0px auto;
	padding-top: 20px;
    padding-bottom:60px;
    background:#693 url(images/bg_footer.png) repeat-x;
}
/** forum style **/
#forum table {
	border: 1px solid #EEE;
	margin-top: 1em;
	width: 99%;
}

